<!DOCTYPE>
<html>
<head>
    <title>Edit schema</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
    <script src="https://bootstraptema.ru/_sf/3/334.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">FakeCSV</a>
    <div class="container-fluid">
        <a class="nav-link" href="/schemas">Schemas</a>
    </div>
    <div class="container-fluid">
        <a class="nav-link" href="/datasets">Data sets</a>
    </div>
    {% if request.user.is_authenticated %}
        <div class="container-fluid">
            <h5>Hello, {{ request.user }}</h5>
        </div>
        <a class="nav-link" href="#" id="logout"> Logout </a>
        <script>
            let logout = document.getElementById('logout');
            logout.addEventListener('click', function () {
                const url = "/auth/logout/";
                fetch(url, {
                    method: "GET",
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then((response) => {
                        location.reload();
                    });
            })
        </script>
    {% endif %}
</nav>

<div class="container">
<div class="row">

<h1 class="text-left">New schema</h1>
    <br>
<div id="settings" class="col-md-6">
    <div class="MainData">
    <div class="form-group">
        <div class="input-group input-group-sm col-sm-12">
           <input type="text" id="schemaName" name="schema_name" class="form-control" placeholder="Enter schema name" required>
        </div>
    </div>

   <div class="form-group">
        <div class="input-group-prepend">
             <label class="input-group-text" for="columnSeparator">Column Separator</label>
        </div>
        <select class="custom-select" name="column_separator" id="columnSeparator">
            <option value="," selected>Comma (,)</option>
            <option value=";">Semicolon (;)</option>
            <option value="#">Hashtag (#)</option>
            <option value="*">Asterisk (*)</option>
        </select>
    </div>


    <div class="form-group">
        <div class="input-group-prepend">
             <label class="input-group-text" for="stringCharacter">String character</label>
        </div>
        <select class="custom-select" name="string_character" id="stringCharacter">
            <option value="'" selected>Single-quote (')</option>
            <option value='"'>Double-quote (")</option>
        </select>
    </div>
    </div>
<br>
<h2 class="text-left">Schema columns</h2>
    <div hidden=true class="form-group ColumnSample">
        <h5>Order: </h5>
        <div class="input-group input-group-sm col-sm-12">
           <input type="text" name="column_name" class="form-control" id="columnName" placeholder="Enter column name">
        </div>
        <br>
        <div class="input-group-prepend">
             <label class="input-group-text" for="typeSelector">Type</label>
        </div>
        <select class="custom-select" name="field_type" id="typeSelector">
            <option value="1">Full name</option>
            <option value="2">Job</option>
            <option value="3">Email</option>
            <option value="4">Domain name</option>
            <option value="5">Phone number</option>
            <option value="6">Company name</option>
            <option value="7">Text</option>
            <option value="8">Integer</option>
            <option value="9">Address</option>
            <option value="10">Date</option>
        </select>
        <br>
        <br>
        <div hidden="True" class="input-group input-group-sm col-sm-12">
            <br>
           <input type="number" id="lower" min="0" placeholder="From" required>
            <br>
        </div>
        <div hidden="True" class="input-group input-group-sm col-sm-12">
            <br>
           <input type="number" id="upper" min="1" placeholder="To" required>
            <br>
        </div>
        <div hidden="True" class="input-group input-group-sm col-sm-12">
           <input type="number" id="sentenceCount" min="1" placeholder="Enter number of sentences" required>
            <br>
        </div>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">

    </div>


    <div class="form-group">
        <button type="button" class="btn btn-primary" id="add">Add column</button>
        <button type="button" class="btn btn-success" id="send">Submit</button>
    </div>

</div>

</div>
</div>
<script>
    let add_btn = document.getElementById("add");
    let send_btn = document.getElementById("send");
    let counter = 1;
    add_btn.addEventListener('click', function(){
            let sample = $('.ColumnSample:first').clone();
            sample[0].hidden = false;
            <!--order number-->
            sample.children()[0].innerHTML = sample.children()[0].innerHTML + counter;
            <!--column name-->
            sample.children()[1].childNodes[1].id = sample.children()[1].childNodes[1].id + counter;
            <!--type-->
            sample.children()[4].id = sample.children()[4].id + counter;

            <!--lower number div>
            sample.children()[7] = sample.children()[7] + counter;
            <!--lower input-->
            sample.children()[7].childNodes[3].id = sample.children()[7].childNodes[3].id + counter;

            <!--upper number div>
            sample.children()[8] = sample.children()[8] + counter;
            <!--upper input-->
            sample.children()[8].childNodes[3].id = sample.children()[8].childNodes[3].id + counter;

            <!--sentence number div>
            sample.children()[9] = sample.children()[9] + counter;
            <!--sentence input-->
            sample.children()[9].childNodes[1].id = sample.children()[9].childNodes[1].id + counter;


            let type = sample.children()[4];
            type.addEventListener('click', function(){
                if (parseInt(type.value) === 8){
                    sample.children()[9].hidden = true;
                    sample.children()[7].hidden = false;
                    sample.children()[8].hidden = false;
                }
                else if (parseInt(type.value) === 7){
                    sample.children()[9].hidden = false;
                    sample.children()[7].hidden = true;
                    sample.children()[8].hidden = true;
                }
                else {
                    sample.children()[9].hidden = true;
                    sample.children()[7].hidden = true;
                    sample.children()[8].hidden = true;
                }
            });
            sample.insertAfter('.ColumnSample:last');
            counter ++;
         });
    add_btn.click();
    const url = "/generator/create-schema/";
    send_btn.addEventListener('click', function(){
        let data = [];
        for (let i=1; i < counter; i++){
            let column_name = $("#columnName"+i)[0].value;
            let column_type = $("#typeSelector"+i)[0].value;
            let lower_bound = $("#lower"+i)[0].value;
            let upper_bound = $("#upper"+i)[0].value;
            let sentence_count = $("#sentenceCount"+i)[0].value;
            let order = {
                            "name": column_name,
                            "field_type": column_type,
                            "lower_bound": lower_bound,
                            "upper_bound": upper_bound,
                            "sentence_count": sentence_count
                        };
            data.push(order);
        }
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let body = {
                        "name": schemaName.value,
                        "separator": columnSeparator.value,
                        "string_character": stringCharacter.value,
                        "data": data
                    }
        fetch(url, {
                    method: "POST",
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json',
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    body: JSON.stringify(body)
        })
        .then((response) =>{
                if (response.ok) {
                    location.reload();
                    alert("Schema created");
                }
                else{
                    alert("Wrong username or password");
                }
        });
    });

</script>
</body>
</html>
